<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if currentUser}}
  <p>Connect: {{currentUser.username}}</p>
  <a href="/main">My Cat</a>
  <a href="/private">Private</a>
  <br /><br />
  <form action="/logout" method="POST">
    <button type="submit">Disconnect</button>
  </form>
{{else}}
  <a href="/signup">Sign Up</a>
  <a href="/login">Sign In</a>
{{/if}}