<a href="/">Go back to homepage</a>
<br /><br /><br />
<a href="/">
  <img
    src="https://uploads.dailydot.com/2018/10/olli-the-polite-cat.jpg?auto=compress&fm=pjpg"
    alt=""
    width="500"
  />
</a>